<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      General
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="generalForm">
  <ion-list lines="full" class="ion-no-margin">
    <ion-item>
      <ion-label position="floating">Your message</ion-label>
      <ion-input formControlName="message"></ion-input>
    </ion-item>

    <ion-row>
      <ion-col size="8">
        <ion-item>
          <ion-item>
            <ion-select placeholder="Select One" formControlName="flag">
              <ion-select-option value="info">Info</ion-select-option>
              <ion-select-option value="reminder">Reminder</ion-select-option>
              <ion-select-option value="thought">Thoughts</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-item>
      </ion-col>
      <ion-col size="4">
        <ion-item style="margin-left: 10px;">
            <ion-button size="small" color="tertiary" (click)="CreateRecordGeneral()" [disabled]="generalForm.invalid">submit</ion-button>
        </ion-item>
      </ion-col>
  </ion-row>

  </ion-list>
</form>

<div *ngFor="let generallst of generalList">

  <ion-card *ngIf="generallst.flag === 'info'" color="success">
    <ion-card-content>
      <ion-icon style="float: right;" name="close-outline" (click)="RemoveRecord(generallst.id)"></ion-icon>
      <p >{{generallst.message}}</p>
    </ion-card-content>
    <ion-item color="success">
    </ion-item>
  </ion-card>

  <ion-card *ngIf="generallst.flag === 'reminder'" color="danger">

    <ion-card-content>
    <ion-icon style="float: right;" name="close-outline" (click)="RemoveRecord(generallst.id)"></ion-icon>
      <p >{{generallst.message}}</p>
    </ion-card-content>
    <ion-item color="danger">
      <ion-label class="center">
        {{generallst.amount}}
      </ion-label>
    </ion-item>
  </ion-card>

  <ion-card *ngIf="generallst.flag === 'thought'" color="primary">

    <ion-card-content>
    <ion-icon style="float: right;" name="close-outline" (click)="RemoveRecord(generallst.id)"></ion-icon>
      <p >{{generallst.message}}</p>
    </ion-card-content>
    <ion-item color="primary">
      <ion-label class="center">
        {{generallst.amount}}
      </ion-label>
    </ion-item>
  </ion-card>

</div>


</ion-content>
