<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Info
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <form [formGroup]="infoForm">
  <ion-list lines="full" class="ion-no-margin">

    <ion-row>
      <ion-col size="9">
        <ion-item>
          <ion-label position="floating" >Your message</ion-label>
          <ion-input formControlName="message"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="3">
        <ion-item>
            <ion-button size="small" color="tertiary" (click)="CreateRecordInfo()" [disabled]="infoForm.invalid">add</ion-button>
        </ion-item>
      </ion-col>
  </ion-row>

  </ion-list>
</form>

  <ion-card >
    <ion-item class="ion-activated" *ngFor="let infoLst of infoList">
        <p (click)="StrikeIt(infoLst)" *ngIf="infoLst.striked==='true'" class="striked">{{infoLst.message}}</p>
        <p (click)="UnstrikeIt(infoLst)" *ngIf="infoLst.striked==='false'">{{infoLst.message}}</p>
        <ion-icon slot="end" name="close-outline" (click)="RemoveRecord(infoLst.id)"></ion-icon>
    </ion-item>

  </ion-card>


</ion-content>
